<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eu.kalafatic.explorer.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Explorer Core"
            class="eu.kalafatic.explorer.core.perspectives.ExplorerCorePerspective"
            id="eu.kalafatic.explorer.core.perspectives.ExplorerCorePerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="eu.kalafatic.explorer.core.perspectives.ExplorerCorePerspective">
         <view
               closeable="true"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               moveable="true"
               ratio=".25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="eu.kalafatic.explorer.view.views.GraphView"
               minimized="false"
               moveable="true"
               ratio=".65"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.kalafatic.explorer.core.application"
            name="Explorer">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Explorer">
         </property>
         <property
               name="introTitle"
               value="Explorer">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/branding/zodiac-74-56.jpg">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/sample.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="eu.kalafatic.explorer.core.Navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="eu.kalafatic.explorer.core.Navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="eu.kalafatic.explorer.core.splashHandlers.InteractiveSplashHandler"
            id="eu.kalafatic.explorer.core.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.eclipse.sdk.ide"
            splashId="eu.kalafatic.explorer.core.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.kalafatic.explorer.core.editors.MultiPageEditor"
            contributorClass="eu.kalafatic.explorer.core.editors.MultiPageEditorContributor"
            extensions="mpe"
            icon="icons/sample.gif"
            id="eu.kalafatic.explorer.core.editors.MultiPageEditor"
            name="Multi-page Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.kalafatic.explorer.core.preferences.ExplorerPreferencePage"
            id="eu.kalafatic.explorer.core.preferences.ExplorerPreferencePage"
            name="Explorer Preferences">
      </page>
   </extension>
   <extension
         id="eu.kalafatic.explorer.core.preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.kalafatic.explorer.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:Tools?after=languageMarker">
         <menu
               icon="platform:/plugin/eu.kalafatic.utils/icons/languages/language.png"
               id="eu.kalafatic.gemini.core.menus.languagesMenu"
               label="%menu.label"
               mnemonic="%menu.mnemonic">
            <command
                  commandId="eu.kalafatic.utils.handlers.SelectLanguageHandler"
                  icon="platform:/plugin/eu.kalafatic.utils/icons/languages/flags/czech.gif"
                  label="%command.label"
                  style="push">
               <parameter
                     name="eu.kalafatic.utils.handlers.SelectLanguageHandler.Parameter"
                     value="cs">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="cs">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.utils.handlers.SelectLanguageHandler"
                  icon="platform:/plugin/eu.kalafatic.utils/icons/languages/flags/english.gif"
                  label="%command.label.0"
                  style="push">
               <parameter
                     name="eu.kalafatic.utils.handlers.SelectLanguageHandler.Parameter"
                     value="en">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="en">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.utils.handlers.SelectLanguageHandler"
                  icon="platform:/plugin/eu.kalafatic.utils/icons/languages/flags/german.gif"
                  label="%command.label.1"
                  style="push">
               <parameter
                     name="eu.kalafatic.utils.handlers.SelectLanguageHandler.Parameter"
                     value="de">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="de">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.utils.handlers.SelectLanguageHandler"
                  icon="platform:/plugin/eu.kalafatic.utils/icons/languages/flags/china.gif"
                  label="%command.label.2"
                  style="push">
               <parameter
                     name="eu.kalafatic.utils.handlers.SelectLanguageHandler.Parameter"
                     value="zh">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="zh">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.utils.handlers.SelectLanguageHandler"
                  icon="platform:/plugin/eu.kalafatic.utils/icons/languages/flags/russia.gif"
                  label="%command.label.3"
                  style="push">
               <parameter
                     name="eu.kalafatic.utils.handlers.SelectLanguageHandler.Parameter"
                     value="ru">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="ru">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.utils.handlers.SelectLanguageHandler"
                  icon="platform:/plugin/eu.kalafatic.utils/icons/languages/flags/spain.gif"
                  label="%command.label.4"
                  style="push">
               <parameter
                     name="eu.kalafatic.utils.handlers.SelectLanguageHandler.Parameter"
                     value="es">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="es">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contextProvider
            class="eu.kalafatic.explorer.core.help.ExplorerContextProvider">
      </contextProvider>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <indexProvider
            class="eu.kalafatic.explorer.core.help.ExplorerIndexProvider">
      </indexProvider>
   </extension>
   <extension
         point="org.eclipse.help.contentProducer">
      <contentProducer>
         <producer
               class="eu.kalafatic.explorer.core.help.ExplorerHelpContetProducer">
         </producer>
      </contentProducer>
   </extension>

</plugin>
