<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="eu.kalafatic.explorer"
            name="Explorer">
      </context>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Explorer Multi-page Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="eu.kalafatic.explorer.view.editors.ExplorerEditorContributor"
            class="eu.kalafatic.explorer.view.editors.ExplorerEditor"
            id="eu.kalafatic.explorer.view.editors.ExplorerEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="eu.kalafatic.explorer.view">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.gif"
            category="eu.kalafatic.explorer.view"
            class="eu.kalafatic.explorer.view.wizards.SampleNewWizard"
            id="eu.kalafatic.explorer.view.wizards.SampleNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.kalafatic.explorer.view.perspectives.ExplorerPerspective"
            id="eu.kalafatic.explorer.view.perspectives.ExplorerPerspective"
            name="Explorer">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="eu.kalafatic.explorer.view.perspectives.ExplorerPerspective">
         <view
               closeable="true"
               id="eu.kalafatic.explorer.view.views.ExplorerNavigator"
               minimized="false"
               moveable="true"
               ratio=".20"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="eu.kalafatic.explorer.view.views.GraphView"
               minimized="false"
               moveable="true"
               ratio=".60"
               relationship="right"
               relative="eu.kalafatic.explorer.view.views.ExplorerNavigator"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="eu.kalafatic.explorer.view.views.ExplorerNavigator"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="eu.kalafatic.explorer.view.views.ExplorerNavigator"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="eu.kalafatic.explorer.view.toolbars.sampleToolbar">
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:eu.kalafatic.explorer.view.views.ExplorerNavigator">
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:eu.kalafatic.explorer.core.editors.MultiPageEditor">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.kalafatic.explorer.view.category"
            name="Explorer">
      </category>
      <view
            category="eu.kalafatic.explorer.view.category"
            class="eu.kalafatic.explorer.view.views.ExplorerNavigator"
            icon="icons/sample.gif"
            id="eu.kalafatic.explorer.view.views.ExplorerNavigator"
            name="Navigator">
      </view>
      <view
            class="eu.kalafatic.explorer.view.views.GraphView"
            id="eu.kalafatic.explorer.view.views.GraphView"
            name="Graph"
            restorable="true">
      </view>
   </extension>
   <extension
         id="eu.kalafatic.explorer.view.Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            icon="icons/ovr16/error_co_buildpath.gif"
            id="eu.kalafatic.explorer.view.providers.ExplorerLabelDecorator"
            label="Explorer Label Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="eu.kalafatic.explorer.model.explorer.Node">
               </objectClass>
               <objectClass
                     name="java.util.Map$Entry">
               </objectClass>
               <objectClass
                     name="java.lang.Object">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  isRoot="true"
                  pattern=".*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="eu.kalafatic.utils.providers.ProjectContentProvider"
            id="org.eclipse.ui.navigator.ProjectExplorer"
            labelProvider="eu.kalafatic.utils.providers.ProjectLabelProvider"
            name="name"
            priority="high">
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </possibleChildren>
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
      <commonFilter
            id="eu.kalafatic.explorer.view.commonFilter1"
            name="name">
         <filterExpression>
            <not>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.resources.projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </test>
               </adapt>
            </not>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <command
               commandId="org.eclipse.ui.file.saveAll"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/saveall_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/saveall_edit.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.save"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/save_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/save_edit.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:file?after=saveMarker">
         <command
               commandId="org.eclipse.ui.file.saveAll"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/saveall_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/saveall_edit.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.save"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/save_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/save_edit.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="eu.kalafatic.utils.wizards.ImportConfigurationWizard"
            id="eu.kalafatic.utils.wizards.ImportConfigurationWizard"
            name="ImportConfiguration">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="eu.kalafatic.utils.wizards.ExportConfigurationWizard"
            id="eu.kalafatic.utils.wizards.ExportConfigurationWizard"
            name="Export Configuration File">
      </wizard>
   </extension>

</plugin>
